@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

.dummy {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    margin: 0 auto;
    background-color: #000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem min(15rem, 8vw);
    background: linear-gradient(90deg, #6F13E3 0%, #0595FF 100%);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;

}

/* Base Styles */
.mobile-menu {
    display: none;
    /* Hide mobile menu by default */
}

.mobile-nav {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    /* Semi-transparent background */
    z-index: 1000;
    overflow-y: auto;
    /* Enable scrolling if content exceeds viewport */
}

.mobile-nav #mobile-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    /* Adjust size as needed */
    height: 2rem;
    /* Adjust size as needed */
    cursor: pointer;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

.mobile-nav ul li {
    margin: 1rem 0;
}

.mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.mobile-nav ul li a .btn-text {
    font-size: 1.5rem;
}

/* Ensure mobile menu is only displayed on small screens */
@media (min-width: 769px) {
    .mobile-nav {
        display: none !important;
    }
}

.desktop-menu {
    display: block;
    /* Show desktop menu by default */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
        /* Hide desktop menu on small screens */
    }

    .mobile-menu {
        display: block;
        /* Show mobile menu on small screens */
    }
}

@media (max-width: 768px) {
    .mobile-nav .btn {
        width: auto;
        padding: 0.75rem 1.5rem;
    }

    .mobile-nav .btn-text {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }
}

/* Additional styling for menu icons if necessary */
.menu-icon {
    display: inline-block;
    /* Ensures icons are shown when mobile menu is active */
    cursor: pointer;
    /* Makes the icons feel clickable */
    width: min(3rem, 10vw);
    /* Example size, adjust as needed */
    height: min(3rem, 10vw);
    /* Example size, adjust as needed */
}




nav ul li {
    margin: 0 min(1.5vw, 3rem);
}

/* Base styles for all buttons */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: min(1rem, 1vw);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .btn {
        font-size: 1.4vw;
    }
}

.btn-frame {
    display: flex;
    width: 100%;
    height: 80%;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
}

.btn-frame-blue,
.btn-frame-white {
    box-shadow: 0px 0px 6.7px 0px #0496FF;
    width: min(9.3125rem, 15vw);
    height: min(2.25rem, 3.5vw);
}

.btn-frame-blue {
    border: 1px solid #FFF;
    background: #FFF;
}

.btn-text-blue {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.21188rem;
    background: linear-gradient(92deg, #5C10FF -31.42%, #0496FF 69.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: min(0.64194rem, 1vw);
}

.btn-frame-white {
    border: 1px solid #FFF6F6;
}

.btn-text-white {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.21188rem;
    font-size: min(0.64194rem, 1vw);
}

/* Login Container */
.login-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;

    width: min(46.3125rem, 70vh);

    border-radius: 1.25rem;
    border: 1.5px solid #5C10FF;
    background: #2A2A2A;
    z-index: 100;
}

/* Modal Overlay */
.modal-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.8);  Semi-transparent background */
    z-index: 1;
    /* High z-index to cover other elements */
}



.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 20px;
}

.login-header h1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.register-close-button,
.close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 5vh;
    color: #545454
}

.login-form {
    padding: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    /* Reduce space below the label if necessary */
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    /* Adjust if necessary */
    border: none;
    border-radius: 4px;
    background: #222;
    /* Darker background for inputs */
    color: white;

    /* Text color */
    /* Placeholder color */
    ::placeholder {
        color: white;
        /* Makes placeholder text white */
        opacity: 1;
        /* Ensures full opacity (remove if not needed) */
    }
}

/* Older browser compatibility */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    opacity: 1;
}

.login-register-button {
    width: 100%;
    margin-top: 10px;
    /* Ensure a little space above the button */
    /* Slightly lighter background for the button */
    transition: background 0.3s ease;
    padding: 1.1vw min(1rem, 3vw);
    font-size: min(0.84881rem, 3vw);
    cursor: pointer;
    border-radius: 0.26863rem;
    border: 1px solid #FFF;
    background: linear-gradient(270deg, #0496FF 0%, #7110E2 100%);
    font-weight: 400;
    letter-spacing: min(0.13581rem, 0.5vw);
    color: #fff;
    text-align: center;
    font-size: 0.84881rem;
    font-style: normal;
    line-height: normal;
}


.login-button:hover {
    background: #777;
    /* Hover effect for button */
}

/* Register Container */
.register-container {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    /* Responsive Width */
    width: 90vw; /* 90% of the viewport width */
    max-width: 46.3125rem; /* Approximately 740px */
    
    /* Responsive Height */
    max-height: 90vh; /* 90% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    
    border-radius: 1.25rem;
    border: 1.5px solid #5C10FF;
    background: #2A2A2A;
    z-index: 100;

    /* Optional: Add padding to prevent content from touching edges */
    padding: 1rem;
    
    /* Smooth Scrolling */
    scroll-behavior: smooth;
}

/* Hide scrollbar but allow scrolling (optional) */
.register-container::-webkit-scrollbar {
    width: 0.5rem;
}




.register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 20px;
}

.register-header h1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.register-form {
    padding: 1rem;
}

.register-form label {
    display: block;
    margin-bottom: 0.5rem;
    /* Reduce space below the label if necessary */
}

.register-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    /* Adjust if necessary */
    border: none;
    border-radius: 4px;
    background: #222;
    /* Darker background for inputs */
    color: white;

    /* Text color */
    /* Placeholder color */
    ::placeholder {
        color: white;
        /* Makes placeholder text white */
        opacity: 1;
        /* Ensures full opacity (remove if not needed) */
    }
}

.register-form select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem; /* Consistent spacing */
    border: none;
    border-radius: 4px;
    background: #222;
    color: white;
    font-size: 1rem;
    appearance: none; /* Remove default arrow */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="%23ffffff" d="M0 0l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 10px 5px;
}

/* Adjust the arrow for better visibility */
.register-form select:hover,
.register-form select:focus {
    background-color: #333;
    outline: none;
}

/* Optional: Add a transition for smooth hover effect */
.register-form select {
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background: #777;
    /* Hover effect for button */
}

.register-group-container {
    display: flex;
    justify-content: space-between;
}

.register-group-container input {
    flex: 1;
    /* Makes each input grow to fill the container equally */
    margin-right: 10px;
    /* Adds spacing between the inputs */
}

.register-group-container input:last-child {
    margin-right: 0;
    /* Removes margin from the last input to avoid extra spacing on the right */
}


/* Hero Section */
.hero-container {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 9rem 12vw;
    /* background: #000; */
    z-index: 0;
    background: #000;
    color: #fff;
    justify-content: space-between;
}


/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items vertically in the container */
        justify-content: center;
        /* Center items horizontally in the container */
        padding: 9rem 5vw;
        /* Adjust padding for smaller screens */
        text-align: center;
        height: 100vh;
        /* Makes the hero section take full viewport height */
    }

    .left-side,
    .right-side {
        width: 100%;
        /* Ensures side components take full width of the container */
        align-items: center;
        /* Centers content within each side component */
        padding: 0 1rem;
        /* Adds padding to handle text wrapping */
        gap: 1rem;
        /* Adjusts gap between elements */
    }

    .btn-frame-special,
    .hero-rectangle {
        width: 80%;
        /* Adjusts width of special buttons and rectangle to better fit mobile devices */
        max-width: 400px;
        /* Ensures elements do not become too wide on larger devices */
        height: auto;
        /* Adjusts height automatically based on content */
        margin-bottom: 1rem;
        /* Adds bottom margin for spacing */
    }
}



.hero-ellipse1 {
    position: absolute;
    width: 72.875rem;
    height: 72.875rem;
    top: -50rem;
    right: 0rem;
    border-radius: 72.875rem;
    background: rgba(55, 159, 255, 0.30);
    filter: blur(361.5px);
    z-index: -1;
}

.hero-ellipse2 {
    position: absolute;
    width: 47.8125rem;
    height: 47.8125rem;
    top: -50rem;
    right: 0rem;
    border-radius: 47.8125rem;
    background: rgba(55, 159, 255, 0.80);
    filter: blur(222.4499969482422px);
    z-index: -1;
}



.hero-rectangle {
    width: min(45vw, 45.312rem);
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
    border-radius: 1.6875rem;
    background: #D9D9D9;
}


.btn-frame-special {
    width: min(25.1875rem, 65vw);
    height: min(6.20831rem, 20vw);
    flex-shrink: 0;
    fill: linear-gradient(270deg, #0496FF 0%, #7110E2 100%);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="403" height="100" viewBox="0 0 403 100" fill="none"><path d="M0 6.20832C0 2.77955 2.77957 -2.28882e-05 6.20833 -2.28882e-05H396.792C400.22 -2.28882e-05 403 2.77954 403 6.20831V93.125C403 96.5537 400.22 99.3333 396.792 99.3333H6.20833C2.77957 99.3333 0 96.5537 0 93.125V6.20832Z" fill="url(%23paint0_linear_63_414)"/><defs><linearGradient id="paint0_linear_63_414" x1="403" y1="221.667" x2="6.70039e-06" y2="221.667" gradientUnits="userSpaceOnUse"><stop stop-color="%230496FF"/><stop offset="1" stop-color="%237110E2"/></linearGradient></defs></svg>');

}

.btn-text-special {
    color: #FFF;
    font-size: min(1.22606rem, 4vw);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.19619rem;
    text-transform: uppercase;
}


.left-side .title {
    font-size: min(2.25rem, 7vw);
    font-weight: 700;
}

.left-side .subtitle {
    width: 28.25rem;
    font-size: min(1.5rem, 4vw);
    font-weight: 500;
}

.right-side .title {
    font-size: min(2.25rem, 5vw);
    font-weight: 700;
}

.right-side .subtitle {
    font-size: min(1.5rem, 4vw);
    font-weight: 500;
}

.left-side,
.right-side {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: min(1.5rem, 3.5vw) 0;
}

.left-side {
    margin-top: max(-4rem, -2vw);
}

/* depoimentos Section */
.depoimentos-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
    color: #fff;
    background: #010203;
}

.depoimentos-ellipse1 {
    position: absolute;
    z-index: -1;

    top: 25rem;
    left: -45rem;

    width: 35.125rem;
    height: 35.125rem;

    border-radius: 35.125rem;
    background: #5C10FF;
    mix-blend-mode: lighten;
    filter: blur(453.1000061035156px);
}

.depoimentos-ellipse2 {
    position: absolute;
    z-index: -1;
    top: 25rem;
    left: -45rem;

    width: 32.87281rem;
    height: 32.87281rem;

    fill: #5C10FF;
    filter: blur(453.1000061035156px);
}

.inline-vector1 {
    position: absolute;
    z-index: -1;
    width: 24.625rem;
    height: 8.1875rem;
    flex-shrink: 0;

    top: 1%;
    left: 50%;
}

.inline-vector2 {
    position: absolute;
    z-index: -1;
    width: 24.625rem;
    height: 8.1875rem;
    flex-shrink: 0;

    top: 40%;
    left: 40%;
}


.inline-vector3 {
    position: absolute;
    z-index: -1;
    width: 24.625rem;
    height: 8.1875rem;
    flex-shrink: 0;

    top: 20%;
    left: 25%;

    rotate: 180deg;
}

.inline-vector1 path,
.inline-vector2 path,
.inline-vector3 path {
    stroke-width: 2px;
}

/* Responsive Layout for Smaller Screens should hide inline-vector */
@media screen and (max-width: 768px) {
    .inline-vector {
        display: none;
    }

}


/* Title Section */
.depoimentos-titulo h1 {
    font-size: min(2.625rem, 6vw);
    font-weight: 700;
    letter-spacing: 0.07875rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

/* Videos Section */
.depoimentos-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(18rem, 12vw);
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
    .depoimentos-videos {
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        align-items: center;
    }
}

.video-wrapper {
    position: relative;
    width: 300px; /* Fixed width */
    aspect-ratio: 9 / 16; /* 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 0.25rem; /* Optional: Rounded corners */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
    background-color: #000; /* Optional: Background color while loading */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; /* Match the wrapper's width */
    aspect-ratio: 9 / 16; /* 16:9 aspect ratio */
    border: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .depoimentos-videos {
        flex-direction: column;
        gap: 1rem 0;
        align-items: center;
    }

    .video-wrapper {
        width: 90px; /* Maintain fixed size */
        height: 160px;
    }

    .depoimentos-videos img {
        width: 120px; /* Adjusted width for smaller screens */
        height: auto;
        border-radius: 0.25rem; /* Optional: Rounded corners */
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
    }
}

.depoimentos-videos img {
    width: 120px; /* Adjust as needed */
    height: auto;
    border-radius: 0.25rem; /* Optional: Rounded corners */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
}

.depoimentos-textos-top img {
    width: 22.9375rem;
    height: 40.75rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    /* Optional shadow */
}

.depoimentos-textos-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}



/* Text Section */
.depoimentos-textos {
    display: flex;
    flex-direction: row;
    /* Side-by-side layout for testimonials */
    justify-content: center;
    /* Center content horizontally */
    align-items: flex-start;
    /* Align text at the top */
    gap: 8rem;
    /* Space between each testimonial */
    max-width: 1200px;
    /* Limit the container's width */
    margin: 2rem auto;
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
    .depoimentos-textos {
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        align-items: center;
    }
}

.depoimentos-textos div {
    max-width: 400px;
    /* Limit the width of each testimonial */
    text-align: left;
    /* Align text to the left */
}

.depoimentos-textos h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.05625rem;
}

.depoimentos-textos h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.03rem;
}

.depoimentos-textos h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 130%;
}

.depoimentos-textos img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* Circular images */
    margin-bottom: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* Optional shadow */
}

/* Planos Section */
.planos-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    padding: 4rem 2rem;
    background: #121017;
    color: white;
}

.planos-ellipse1 {
    position: absolute;
    z-index: -1;

    top: -40rem;
    right: 25%;

    width: 50.6875rem;
    height: 50.6875rem;

    border-radius: 50.6875rem;
    background: #0496FF;
    mix-blend-mode: lighten;
    filter: blur(453.1000061035156px);
}

.planos-ellipse2 {
    position: absolute;
    z-index: -1;

    top: 0rem;
    right: 25%;

    width: 47.4375rem;
    height: 47.4375rem;

    fill: #0496FF;
    mix-blend-mode: plus-lighter;
    filter: blur(453.1000061035156px);
}


/* Title Section */
.planos-titulo h1 {
    font-size: min(2rem, 6vw);
    font-weight: bold;
    margin-bottom: 3rem;
    color: white;
}

/* Plan Cards Section */
.planos-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: stretch;
    /* Ensures all cards have equal height */
}




@media (max-width: 768px) {
    .planos-cards {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

/* Individual Plan Card */
.plano-card {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 2rem 0;
    width: 18rem;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #0496FF;
    background: linear-gradient(180deg, #121017 0%, rgba(17, 17, 17, 0.00) 100%);
}

.plano-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 25px rgba(4, 150, 255, 0.5);
}

/* Highlighted Plan */
.plano-card.destaque {
    background: linear-gradient(to bottom, #0496FF, #7110E2);
    border: none;
}

/* Plan Name */
.plano-nome {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 2.5rem */
    letter-spacing: -0.1rem;
    background: linear-gradient(180deg, #0496FF 0%, #5C10FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plano-nome.destaque {
    /* Remove the gradient background and background clipping */
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;

    /* Set the text fill color to white */
    -webkit-text-fill-color: #fff;
    /* For WebKit browsers */
    color: #fff;
    /* Fallback for other browsers */
}


/* Price Section */
.plano-preco {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
    background: linear-gradient(270deg, #0496FF 0%, #5C10FF 100%);
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    /* 4.15625rem */
}

.plano-preco span {
    color: rgba(255, 255, 255, 0.67);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 133%;
}

/* Benefits List */
.plano-beneficios {
    list-style: none;
    margin: 1rem 1.5vw;
    padding: 0;
}

.plano-beneficios li {
    margin: 1.5rem 0;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 93%;
    padding-left: 24px;
    /* Adjust padding to make room for the icon */
    text-align: left;
    background-image: url('./images/svg/plans.svg');
    /* Path to your SVG file */
    background-repeat: no-repeat;
    background-position: left center;
    /* Position the circle at the left-center */
    background-size: 16px 15px;
    /* Size of the SVG */
}

.plano-btn-assinar {
    margin-top: auto;
    /* Push the button to the bottom */
    padding-top: 1rem;
    /* Add spacing before the button */
}

/* Subscribe Button */
.btn-assinar {
    padding: 1.1vw min(1rem, 3vw);
    font-size: min(0.84881rem, 3vw);
    cursor: pointer;
    border-radius: 0.26863rem;
    border: 1px solid #FFF;
    background: linear-gradient(270deg, #0496FF 0%, #7110E2 100%);
    font-weight: 400;
    letter-spacing: min(0.13581rem, 0.5vw);
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

/* for small screens font-size should be 10vw btn-assinar */
@media (max-width: 768px) {
    .btn-assinar {
        font-size: 5vw;
        padding: 3vw min(1rem, 3vw);
    }
}

.btn-assinar:hover {
    background: linear-gradient(90deg, #5C10FF, #7110E2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


/* FAQ Section */
.faq-container {
    display: flex;
    background-color: #121017;
    color: white;
    padding: 4rem min(20rem, 20vw);
    gap: 4rem;
}

.faq-titulo h1 {
    text-align: left;
    margin-bottom: 1.75rem;
    font-size: min(2.25rem, 6vw);
    font-weight: 600;
    line-height: 100%;
}

.faq-titulo span {
    font-size: min(1.5rem, 4vw);
    font-weight: 400;
}

/* If small screen show the content vertically */
@media (max-width: 768px) {
    .faq-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center items vertically in the container */
        justify-content: center;
        /* Center items horizontally in the container */
        padding: 9rem 5vw;
        /* Adjust padding for smaller screens */
        text-align: center;
        /* Makes the hero section take full viewport height */
        padding: 5rem 0vw;
    }

    .faq-titulo h1 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1.75rem;
    }
}


.faq-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0 auto;
    max-width: 900px;
}

.faq-item {
    width: 100%;
    position: relative;
    margin-bottom: 0rem;
}

/* for mobile version add padding to faq-item */
@media (max-width: 768px) {
    .faq-item {
        width: 80%;
    }

    .faq-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.faq-item:after {
    content: "";
    /* Required for a pseudo-element */
    display: block;
    height: 1px;
    /* Height of the line */
    background: #fff;
    /* Color of the line */
    width: 100%;
    /* Full width of the container */
    position: absolute;
    bottom: 0;
    /* Position at the bottom of the item */
}

.faq-question {
    position: relative;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #fff;
}

.faq-question .icon {
    width: 1.5rem;
    height: .75rem;
    transform: rotate(0deg);
    transform-origin: 0 0;
    transition: transform 0.3s ease;
    margin-left: min(3rem, 3vw);
    margin-top: 2rem;
}

.faq-question[aria-expanded="true"] .icon {
    transform: rotate(180deg);
    /* Rotates the icon 180 degrees when expanded */
}

.faq-question:hover {
    background-color: transparent;
    /* or any other color */
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #fff;
}

.faq-question[aria-expanded="true"]+.faq-answer {
    max-height: 1000px;
    /* Large enough to accommodate content */
}

.faq-answer.active {
    display: block;
}


.btn-contact {
    display: flex;
    align-items: center;
    /* Vertically align text and SVG */
    justify-content: center;
    /* Horizontally center contents */
    padding: 1rem 2rem;
    background-color: #27C281;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.16356rem;
    gap: 10px;
    /* Add space between text and SVG */
    margin-top: 3rem;
    width: min(22.1875rem, 90vw);
    height: min(5.20831rem, 20vw);
}

.btn-contact img {
    width: 29px;
    height: 30px;
}

@media (max-width: 768px) {
    .btn-contact {
        margin-left: auto;
        margin-right: auto;
    }
}



/* Footer Section */
.footer-container {
    background-color: #000;
    color: #fff;
    padding: 2.5rem 0;
    gap: min(8rem, 6vw);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* Corrected from 'top' */
    justify-content: center;
    /* Centers items horizontally */
    width: 100%;
    /* Ensures the footer spans the full width */
}

/* If small screen show the content vertically*/
@media screen and (max-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 0vw;
    }

}

.footer-main-info {
    display: flex;
    justify-content: space-around;
}

.footer-contato,
.footer-localizacao,
.footer-endereco,
.footer-redes {
    text-align: left;
}

/* Hide footer-contato in small screens */

@media screen and (max-width: 768px) {
    .footer-contato {
        display: none;
    }
}

.footer-contato h1,
.footer-endereco h1,
.footer-localizacao h1,
.footer-redes h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px 0;
}

.footer-contato p,
.footer-localizacao p,
.footer-endereco p,
.footer-redes p {
    font-size: 0.9rem;
    padding: .5rem 0;
}

.footer-contato a,
.footer-endereco a,
.footer-localizacao a {
    color: inherit;
    text-decoration: none;
}

.footer-contato a:hover,
.footer-localizacao a:hover {
    text-decoration: underline;
}

/* Style social media icons */
.footer-redes a {
    display: inline-block;
    margin-right: 10px;
    /* Space between icons */
}

.footer-redes a img,
.footer-redes a svg {
    width: 28px;
    height: 28px;
}

.footer-legal {
    padding: 3rem 0;
    font-size: 0.8rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000;
}

/* Styling for buttons or links in the footer if needed */
.footer-redes a {
    display: inline-block;
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.footer-redes a:hover {
    background-color: #005f87;
}



/* About Page */

/* About Section */
.about-container {

    position: relative;
    overflow: hidden;
    z-index: 0;

    background: linear-gradient(to top, #fff 45%, #000 45%);
    color: #ffffff;
    padding: 50px;
}

@media (max-width: 768px) {
    .about-container {
        background: #000;
    }

}

.about-ellipse1 {
    position: absolute;
    width: 72.875rem;
    height: 72.875rem;
    top: -60rem;
    right: 0rem;
    border-radius: 77.4375rem;
    background: #00305D;
    mix-blend-mode: plus-lighter;
    filter: blur(222.4499969482422px);
    z-index: -1;
}

.about-ellipse2 {
    position: absolute;
    width: 72.875rem;
    height: 72.875rem;
    top: -55rem;
    right: 0rem;
    border-radius: 77.4375rem;
    border-radius: 77.4375rem;
    background: #00305D;
    mix-blend-mode: screen;
    filter: blur(222.4499969482422px);
    z-index: -1;
}

.about-ellipse3 {
    position: absolute;
    width: 72.875rem;
    height: 72.875rem;
    top: -60rem;
    right: 0rem;
    border-radius: 77.4375rem;
    border-radius: 77.4375rem;
    background: #7110E2;
    mix-blend-mode: screen;
    filter: blur(222.4499969482422px);
    z-index: -1;
}

.about-hero-container {
    /*max-width: 1200px; */
    margin: 0 auto;
    /* Keeps the entire container centered */
    padding: 3rem 0;
    border-radius: 10px;
    display: flex;
    /* Using flex to align children */
    flex-direction: column;
    /* Align children vertically */
    align-items: center;
    /* Center-align children horizontally */
}


.about-hero-rectangle {
    width: min(67vw, 70.312rem);
    aspect-ratio: 16 / 9;
    border-radius: 1.25rem;
    background: #D9D9D9;
    display: flex;
    padding: 0.625rem min(18.4375rem, 42vw);
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}

.about-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    padding: 0 min(8.1rem, 1vw);
    text-align: center;
}

/* Inovation section*/
.innovation-section {
    background-color: #ffffff;
    /* Adjust background color if needed */
    padding: min(7rem, 7vw) min(17rem, 17vw);
    text-align: center;
}

.section-title {
    background: linear-gradient(275deg, #7110E2 12.82%, #0496FF 87.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    text-align: left;
}

.innovation-horizontal-line {
    width: 50%;
    height: .15rem;
    background: linear-gradient(90deg, #A65FFF 10.03%, #0496FF 102.21%);
}

/* hide innovation-horizontal-line for small screens */
@media screen and (max-width: 768px) {
    .innovation-horizontal-line {
        display: none;
    }
}

.innovation-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innovation-cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 0rem 2rem;
}

/* For small screen show just one card as a single column*/

@media screen and (max-width: 768px) {
    .innovation-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

}

.innovation-card {
    width: min(14rem, 55vw);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #5C10FF;
    background: linear-gradient(180deg, #F8FFFF 0%, #D3D3D3 100%);
    transition: transform 0.3s ease;
}

.innovation-card:hover {
    transform: translateY(-5px);
}

.card-icon {
    font-size: min(1rem, 2vw);
    margin-bottom: .9rem;
}

.innovation-card h3 {
    margin-bottom: 10px;
    color: #379FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.innovation-card p {
    color: #000;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* Contato Page*/
.contact-section {
    background-color: #000;
    color: #000;
    justify-content: center;
    align-items: center;
}

.contact-header {
    background: linear-gradient(270deg, #5C10FF 0%, #0496FF 100%);
    /* Blue background for the header */
    text-align: center;
    padding: min(5.5rem, 6vw) 0;
}

.contact-header h2 {
    margin: 0 auto;
    width: fit-content;
    color: #FFF;
    text-align: center;
    font-size: min(3.125rem, 8vw);
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0.09375rem;
    padding: min(1rem, 1vw) min(2rem, 2vw);
}

.contact-header p {
    color: #FFF;
    text-align: center;
    font-size: 1.79988rem;
    font-style: normal;
    font-weight: 400;
    line-height: 129%;
    padding: 0 19rem;
    /* 2.32181rem */
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}


.contact-card {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    /* Ensures rounded corners */
}

/* Contact Information Panel */
.contact-info {
    background-color: #E5F5FF;
    padding: 40px;
    flex: 1;
    margin: .3rem;
    border-radius: .8rem 0 0 .8rem;
}

.contact-info h3 {
    color: #0E294F;
    font-family: Inter;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0325rem;
    margin-bottom: 1rem;
}

.contact-info p {
    margin-bottom: 10px;
    color: #0E294F;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-info p strong {
    font-weight: bold;
}

.contact-info img.contact-icon {
    margin-right: 0.5rem;
    /* Space between icon and text */
    flex-shrink: 0;
    /* Prevents SVG from shrinking */
    width: 25px;
    /* Consistent width */
    height: 24px;
    /* Consistent height */
}

@media (max-width: 768px) {
    .contact-info p {
        justify-content: center;
        /* Centers items horizontally */
        text-align: center;
        /* Centers text inside the <p> */
    }
}

/* Form Input Area */
.contact-form {
    padding: 40px;
    flex: 1;
    background-color: #fff;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row label {
    width: min(15rem, 30vw);
}

.form-row .form-group {
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #002B5B;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #002B5B;
}

/* Submit Button */
button[type="submit"] {
    background-color: #002B5B;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #001F40;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-card {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }
}

.contato-rectangle {
    width: min(47vw, 50.312rem);
    aspect-ratio: 16 / 9;
    border-radius: 1.25rem;
    background: #D9D9D9;
    display: flex;
    padding: 0.625rem 18.4375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    margin: 3rem auto;
    /* Centers the element and adds vertical spacing */
}

/* For small screen ajuste contato-rectangle */
@media (max-width: 768px) {
    .contato-rectangle {
        width: 90%;
        /* Use a larger percentage for better visibility */
        max-width: 90vw;
        /* Set a reasonable max-width */
        padding: 0.625rem 1rem;
        /* Reduce horizontal padding */
        height: auto;
        /* Ensure height adjusts automatically */
        margin: 2rem auto;
        /* Adjust margin for better spacing */
    }

    .contato-rectangle p {
        font-size: 1rem;
        /* Ensure text is readable */
    }
}

/* Card Container */
.tutorial-card {
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.25rem;
    background: #D9D9D9;
    padding: 0 0 5rem 0;
}


/* Tutorial*/
.tutoriais-section {
    background-color: #000;
    background: #000;
    justify-content: center;
    align-items: center;
}

.tutoriais-image {
    position: relative;
    /* Establishes a positioning context for absolutely positioned children */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    /* Optional: If you want a background color behind the image */
    padding: 3rem 0;
    flex-shrink: 0;
    margin: 3rem auto;
}

.tutoriais-image h1 {
    position: absolute;
    /* Positions the text relative to the container */
    top: 50%;
    /* Vertically centers the text */
    left: 38%;
    /* Horizontally centers the text */
    transform: translate(-50%, -50%);
    /* Adjusts the positioning to center */
    color: #FFFFFF;
    /* White text for contrast */
    border-radius: 0.5rem;
    font-size: min(2rem, 3vw);
    /* Base font size */
    text-align: left;
    max-width: 90%;
    /* Prevents text from overflowing the container */
}



/* Adjuste tutoriais-image for small screens */

@media (max-width: 768px) {
    .tutoriais-image img {
        width: 90%;
        max-width: 600px;
        /* Adjust based on your design needs */
        height: auto;
        border-radius: 0.5rem;
        /* Optional: Adds rounded corners */
        margin: 0;
        /* Remove default margin */
        padding: 0;
    }
}

.tutorias-card-section {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 4.3rem 18vw;
    z-index: 0;
    background: #000;
    color: #D9D9D9;
    justify-content: space-between;
    gap: 2rem
}

/* Show one card for small screns using vertical column */
@media (max-width: 768px) {
    .tutorias-card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.tutoriais-header {
    background: linear-gradient(270deg, #5C10FF 0%, #0496FF 100%);
    /* Blue background for the header */
    text-align: center;
    padding: 5.5rem 0;
}


.tutoriais-header h2 {
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    text-align: center;
    font-size: min(3.125rem, 6vw);
    font-style: normal;
    font-weight: 700;
    line-height: min(3.5rem, 10vw);
    letter-spacing: 0.09375rem;
    margin-bottom: 2rem;
}

.tutoriais-header p {
    color: #fff;
    text-align: center;
    font-size: min(1.79988rem, 5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 129%;
    padding: 0 min(19rem, 9vw);
    /* 2.32181rem */
}


/* Header Section */
.tutorial-header {
    color: #D9D9D9;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    background: linear-gradient(280deg, #64B1DF 42.25%, #233F5C 91%);
}

/* Example background classes */
.bg-gradient-blue {
    background: linear-gradient(280deg, #64B1DF 42.25%, #233F5C 91%);
}

.bg-gradient-green {
    background: linear-gradient(280deg, #64DF72 42.25%, #097B3C 91%);
}

.bg-gradient-red {
    background: linear-gradient(280deg, #DF6664 42.25%, #A8211A 91%);
}

.bg-gradient-orange {
    background: linear-gradient(280deg, #FFA100 42.25%, #F70 91%);
}


.tutorial-header h3 {
    color: #fff;
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0325rem;
}

/* Content Section */
.tutorial-content {
    background-color: #D9D9D9;
    /* Light gray background for the content */
    height: 200px;
    /* Set fixed height for the content area */
    display: column;
    /* Use flexbox to align content */
    justify-content: center;
    /* Center any content horizontally */
    align-items: center;
    /* Center any content vertically */
    padding: 1rem 2rem;
    /* Add padding for inner spacing */
    color: #000;
    text-align: left;
}

.tutorial-content h3 {
    color: #0E294F;
    font-family: "DM Sans";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0325rem;
}


.tutorial-content p {
    color: #23242A;
    font-family: "DM Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0225rem;
}

/* Artigos */

.artigos-section {
    background-color: #000;
    background: #000;
    justify-content: center;
    align-items: center;

}

.artigos-header {
    background: linear-gradient(270deg, #5C10FF 0%, #0496FF 100%);
    text-align: center;
    padding: 5.5rem 0;
}


.artigos-header h2 {
    margin: 0 auto;
    width: fit-content;
    color: #fff;
    text-align: center;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 0.09375rem;
    margin-bottom: 2rem;
}

.artigos-header p {
    color: #fff;
    text-align: center;
    font-size: 1.79988rem;
    font-style: normal;
    font-weight: 400;
    line-height: 129%;
    padding: 0 19rem;
}


.artigo-content {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.artigo-content h1 {
    font-family: "DM Sans";
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.artigo-content p {
    color: #23242A;
    font-family: "DM Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0225rem;
    margin-bottom: 10px;
}

.artigo-content img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.article-bottom {
    display: flex;
    justify-content: space-between;
}

.article-bottom>div {
    width: 48%;
}

.article-bottom p {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}

.article-bottom img {
    width: 100%;
    height: auto;
}

.article-image {
    border-radius: 1.25rem;
    background: linear-gradient(276deg, #467EB8 1.79%, #24405E 97.23%);
}

.article-image-class p {
    /* I want it inside of image */
    position: absolute;
    top: 95%;
    left: 15%;
    color: #fff;
    text-align: left;
    font-family: "DM Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




.tutorial-section {
    background-color: #000;
    /* Dark purple background */
    color: #fff;
    /* Light grey text color for readability */
    padding: 40px;
    /* Padding around the content */
    font-family: 'Arial', sans-serif;
    /* Common font-family */
}

.tutorial-intro h1 {
    color: #FFFFFF;
    /* Bright white color for the header */
    margin-bottom: 20px;
    /* Space below the header */
}

.tutorial-intro p {
    margin-bottom: 40px;
    /* Space below the paragraph */
    font-size: 18px;
    /* Slightly larger font size for visibility */
}

.card-container {
    display: flex;
    /* Align cards in a row */
    justify-content: space-around;
    /* Evenly space the cards horizontally */
    flex-wrap: wrap;
    /* Allow cards to wrap on smaller screens */
}

.card {
    width: 300px;
    /* Fixed width for each card */
    background-color: #252A34;
    /* Slightly lighter purple for the card background */
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    /* Padding inside each card */
    margin-bottom: 20px;
    /* Space below each card when wrapped */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Subtle shadow for depth */
}

.card h2 {
    color: #fff;
    /* Light grey text color for card headers */
    margin-bottom: 10px;
    /* Space below the header */
}

.card p {
    font-size: 16px;
    /* Font size for readability in cards */
}